.chosen-seats-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.seats-and-price-heading {
    display: flex;
    justify-content: space-between;
}

.chosen-seats-price {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.chosen-seats-price h6 {
    display: inline-block;
    color: #1D2939;
}

.continue-payment-btn {
    margin-top: auto;
    outline: none;
    border: none;
    background-color: #B22222;
    padding: 12px 20px;
    border-radius: 8px;
    color: #FCFCFD;
    text-align: center;
}

.continue-payment-btn-disabled {
    background-color: #D0D5DD;
}