#carouselExampleRide {
    /* Make carousel take full width of screen  */
    width: 99.5vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.carousel-movie-info {
    position: absolute;
    width: 44%;
    height: 34%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
    color: #FCFCFD;
    bottom: 10px;
    left: 100px;
}

.carousel-movie-info-heading {
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.005em;
    text-align: left;
    margin: 0;
}

.carousel-movie-info-text {
    margin: 0;
}

.carousel-movie-info-btn {
    width: 114px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #b22222;
    border-radius: 8px;
    color: #FCFCFD;
    background-color: #B22222;
}

@media screen and (max-width: 992px) {
    .carousel-movie-info {
        position: absolute;
        width: 34%;
        height: 26%;
        gap: 8px; 
        bottom: 150px;
        left: 100px;
        text-align: left;
    }

    .carousel-movie-info-heading {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.015em;
    }
}

@media screen and (max-width: 650px) {
    .carousel-movie-info {
        top: 120px;
        left: 30px;
    }

    .carousel-movie-info-heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
    }

    .carousel-movie-info-text {
        display: none;
    }

}