.side-bar-container {
    width: 264px;
    min-width: 264px !important;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
    padding: 40px;
    background-color: #1D2939;
    border-right: 1px solid #E4E7EC;
    margin-left: -3%;
}

.side-bar-btn {
    display: flex;
    padding: 12px 20px 12px 0px;
    gap: 6px;
    outline: none;
    border: none;
    background-color: inherit;
}