.seat-reservation-horizontal-line {
    height: 0.5px !important;
    background-color: #E4E7EC;
    width: 98.8vw;
    margin-left: -98px;
    margin-bottom: 20px;
}

.seat-options-line {
    height: 1px !important;
    background: linear-gradient(to right, #B22222 50%, #E4E7EC 50%);
}

.payment-details-line {
    height: 1px !important;
    background: #B22222;
}

.seat-reservation-movie-container {
    width: 100%;
    display: flex;
    justify-content: start;
    /* align-items: center; */
    gap: 24px;
    margin-bottom: 16px;
}

.seat-reservation-movie-img-container {
    width: 134px;
    height: 126px;
}
.seat-reservation-movie-img-container img {
    object-fit:cover;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.seat-reservation-movie-info {
    color: #1D2939;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* align-items: start; */
}

.seat-reservation-movie-info h6 {
    color: #1D2939;
}

.seat-reservation-booking-info {
    color: #1D2939;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-left: 16px;
}

.seat-reservation-ticket-container {
    width: 100%;
    display: flex;
}

.seat-reservation-right-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.full-width-horizontal-line {
    height: 0.5px !important;
    background-color: #E4E7EC;
    width: 100%;
}