.add-movie-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    padding-right: 0px;
    gap: 6px;
}

.add-movie-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-movie-heading h6 {
    color: #1D2939;
}

.add-movie-cancel-btn {
    width: 48px;
    border-radius: 8px;
    border: 1px solid #B22222;
    padding: 12px;
    background-color: inherit;
    color: #B22222;
}