.add-movie-control-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-movie-control-btns button {
    padding: 12px 20px;
    border-radius: 8px;
}

.add-movie-control-btns > button {
    background-color: inherit;
    color: #B22222;
    border: none;
}

.add-movie-control-btns > button:disabled {
    color: #D0D5DD;
}

#continueBtn:disabled {
    background-color: #D0D5DD !important;
}

.add-movie-control-btns > div > button:nth-of-type(1) {
    margin-right: 16px;
    border: 1px solid #B22222;
    color: #B22222;
    background-color: inherit;
}

.add-movie-control-btns > div > button:nth-of-type(2) {
    background-color: #B22222;
    border: none;
    color: #FCFCFD;
}