.movie-status-badge {
    border-radius: 8px;
    padding: 6px 8px;
}

.green-pill {
    color: #027A48;
    background-color: #D1FADF;
}

.yellow-pill {
    color: #B54708;
    background-color: #FEF0C7;
}

.red-pill {
    color: #B42318;
    background-color: #FEE4E2;
}