.projections-form {
    width: 100%;
}

.add-projection-select-group {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.add-projection-input-group {
    flex: 1;
}

/* Hides scrollbar for the dropdown menu */
.dropdown__menu-list {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.dropdown__menu-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and newer Edge */
}

.projection-form-trash-btn {
    border-radius: 8px;
    border: none;
    background-color: inherit;
    padding: 12px;
    color: #D0D5DD;
    width: 48px;
    height: 48px;
    align-self: end;
}

.projection-form-add-btn {
    border-radius: 8px;
    border: none;
    background-color: inherit;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: auto;
    margin-top: 32px;
}