.projections-form {
    width: 100%;
    min-height:calc(100vh - 96px);
    margin-top: 32px;
}

.projection-form-add-btn {
    border-radius: 8px;
    border: none;
    background-color: inherit;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: auto;
    margin-top: 32px;
}