.edit-profile-control-button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.edit-profile-right-button-group {
    display: flex;
    gap: 16px;
}