.general-form {
    width: 100%;
    margin-bottom: 32px;
    min-height:calc(100vh - 96px);
    margin-top: 32px;
}

.half-width-elements {
    width: 100%;
    display: flex;
    gap: 16px;
}

.left-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.general-form-input-group label {
    color: #344054;
    margin-bottom: 6px;
}

.general-form-input-group input,
.general-form-input-group textarea {
    color: #101828;
}

.synopsis-length {
    position: absolute;
    right: 16px;
    top: 24px;
    transform: translateY(-50%);
    color: #667085;
}

#trailerLinkIcon {
    z-index: 0;
}

.red-icon {
    color: #B22222 !important;
}

#generalFormDatePicker {
    width: 345px;
    left: 240px;
    top: 50px;
}

.css-1nmdiq5-menu {
    box-shadow: none !important;
}

 .dropdown__menu-notice--no-options {
    display: none !important;
 }

.css-1p3m7a8-multiValue {
    background-color: inherit !important;
}

.css-9jq23d {
    font-family: Urbanist !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0.005em !important;
    text-align: left !important;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #101828 !important;
}

.css-v7duua:hover {
    background-color: inherit !important;
    color: #B22222 !important;
}