.about-page {
    width: 1440px;
    font-family: 'Urbanist', sans-serif;
    color: #1D2939;
}

.about-header {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.about-header h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    color: #1D2939;
    letter-spacing: -0.01em;
    text-align: left;
}

.about-content {
    display: flex;
    padding: 0 92px;
    margin: 46px 0;

}

.about-content-left {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    color: #1D2939;
    text-align: left;
    width: 34%;
}

.about-content-right {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    margin-bottom: 24px;
    padding-left: 184px;
    letter-spacing: 0.005em;
    color: #1D2939;
}

.cinema-image {
    display: block; /* To remove space between image and footer*/
    width: 100%;
    margin: 0;
    max-height: 452px;
    object-fit: cover;
}