.about-page {
    width: 1440px;
    color: #1D2939;
}

.about-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;    
}

.about-content {
    display: flex;
    padding: 0 92px;
    margin: 46px 0;
}

.about-content-left {
    margin: 0; 
    width: 34%;
}

.about-content-right {
    text-align: left;
    margin-bottom: 24px;
    padding-left: 184px;
}

.cinema-image {
    display: block; /* To remove space between image and footer*/
    width: 100%;
    margin: 0;
    max-height: 452px;
    object-fit: cover;
}