.logo-icon img {
    width: 26px;
    height: 24px;
    border-radius: 8px;
}

.logo-text {
    font-family: 'Urbanist', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #FCFCFD;
    letter-spacing: -0.0015em;
    text-align: left;
}
