.sign-up-form-container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* margin-bottom: 32px; */
}

.auth-container-heading {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30%;
}

.auth-back-btn {
    width: 36px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #FCFCFD1A;
    /* #D0D5DD arrow color */
    backdrop-filter: blur(4px)
}

.auth-heading {
    color: #D0D5DD;
    margin-bottom: 0px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up-input-group {
    width: 100%;
}

.sign-up-form-label {
    color: #FCFCFD;
}

.sign-up-input-group input {
    width: 100% !important;
    border-radius: 8px;
    border: 1px solid #E4E7EC;
    height: 48px;
    text-align: left;
}

.sign-up-form-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.forgot-password-link {
    color: #98A2B3;
}

.sign-up-form-btn {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    background-color: #B22222;
    color: #FCFCFD;
    border-radius: 8px;
    border: none;
}