.sign-up-form-container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* margin-bottom: 32px; */
}

.auth-container-heading {
    width: 100%;
    display: flex;
    /* justify-content: start; */
    align-items: center;
    position: relative;
}

.auth-back-btn {
    width: 36px;
    height: 40px;
    position: absolute;
    /* Keeps the arrow fixed on the left */
    left: 0;
    /* Aligns it to the left edge of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #FCFCFD1A;
    /* #D0D5DD arrow color */
    backdrop-filter: blur(4px)
}

.auth-heading {
    /* color: #D0D5DD;
    margin-bottom: 0px; */
    flex-grow: 1;
    /* Makes the heading take available space */
    text-align: center;
    /* Centers the heading text horizontally */
    color: #D0D5DD;
    margin: 0;
    /* Ensures no extra space around the heading */
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up-input-group {
    width: 100%;
}

.sign-up-form-label {
    color: #FCFCFD;
}

.sign-up-input-wrapper {
    width: 100%;
    position: relative;
    overflow: visible;
}

.sign-up-input-group input {
    width: 100% !important;
    border-radius: 8px;
    border: 1px solid #E4E7EC;
    padding: 12px 12px;
    padding-left: 35px;
    text-align: left;
    color: #101828;
    box-sizing: border-box;
}

.sign-up-input-group input::placeholder {
    color: #667085;
}

.sign-up-input-group input:focus {
    border: 1px solid #E4E7EC;
    outline: none;
}

.show-password-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    /* Vertically center the icon */
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    /* color: #344054 !important; */
    fill: #667085;
    z-index: 1;
}

.sign-up-form-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sign-up-error {
    margin-top: 4px;
    color: #FDA29B;
}

/* Style for colors based on input validity */

/* General styles for inputs */
.sign-up-input-group {
    color: #344054;
}

/* Populated state */
.sign-up-input-group.populated {
    color: #B22222;
}

.sign-up-input-group.populated input {
    border: 1px solid #B22222;
}

.sign-up-input-group.populated .input-icon {
    fill: #B22222;
}

/* Error state */
.sign-up-input-group.error {
    color: #FDA29B;
}

.sign-up-input-group.error input {
    border: 1px solid #FDA29B;
    color: #FDA29B;
}

.sign-up-input-group.error .input-icon,
.sign-up-input-group.error .show-password-icon {
    fill: #FDA29B;
}

.show-password-icon.error-icon {
    fill: #FDA29B;
}

.sign-up-input-group.error .sign-up-error {
    color: #FDA29B;
}

.sign-up-input-group.error .sign-up-form-label {
    color: #FDA29B;
}

.error-icon {
    fill: #FDA29B;
}

.forgot-password-link {
    color: #98A2B3;
}

.sign-up-form-btn {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    background-color: #B22222;
    color: #FCFCFD;
    border-radius: 8px;
    border: none;
}

.css-checkbox {
    position: absolute;
    overflow: hidden;
    height: 0px;
    width: 0px;
    /* margin: -1px;
    padding: 0;
    border: 0; */
}

#inputPreview {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
}

.css-checkbox+label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.css-checkbox+label::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border: 2px solid #FCFCFD;
    border-radius: 2px;
    box-shadow: none;
}

.css-checkbox:checked+label::after {
    content: " ";
    background-image: url("../../../assets/check-solid.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center center;
    background-color: #101828;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    height: 20px;
    width: 20px;
}