.sign-up-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.auth-container-heading {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.auth-back-btn {
    width: 36px;
    height: 40px;
    background-color: #FCFCFD1A;
    /* #D0D5DD arrow color */
    backdrop-filter: blur(4px)
}

.auth-heading {
    color: #D0D5DD;
}

.sign-up-form-btn {
    width: 100%;
    padding: 12px 20px;
    background-color: #B22222;
    color: #FCFCFD;
}