.auth-container {
    /* This property does not work until opacity is less than 1, but provided opacity in figma is 1 */
    backdrop-filter: blur(15px);
    position: fixed;
    /* Adjust based on navbar height */
    top: 80px;
    right: 0;
    width: 528px;
    display: flex;
    height: calc(100vh - 80px);
    /* Enable scrolling when content overflows */
    overflow-y: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 32px;
    padding: 32px 54px;
    background-color: rgba(29, 41, 57, 1);
    /* Ensure it stays above other elements */
    z-index: 10;
    scrollbar-width: none;
    /* scrollbar-color: #98A2B3 transparent; Firefox */
}

#or-divider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.auth-horizontal-line {
    width: 45%;
    height: 1px;
    align-self: center;
    background-color: #98A2B3;
}

.signup-redirect-btn {
    font-weight: 600 !important;
    margin-left: 8px;
}

.other-login-ways {
    display: none;
    /* This will be available after implementation */
}

.close-auth-container-btn {
    color: #FCFCFC;
    background-color: inherit;
    border: none;
}

.auth-container-effect {
    position: relative;
}

.auth-container-effect.fade-in {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.auth-container-effect.fade-out {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
