.password-reset-email-container {
    display: flex;
    flex-direction: column;
}

.password-reset-email-info {
    color: #98A2B3;
    width: 60%;
    align-self: center;
    text-align: center;
    margin: 24px 0px;
}