.password-reset-code-container {
    display: flex;
    flex-direction: column;
}

.password-reset-code-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin: 24px 0px;
}

.password-reset-code-input {
    width: 48px;
    height: 64px;
    border: 1px solid #E4E7EC;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.004em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FCFCFD;
    background-color: #FCFCFD1A;
}

.password-reset-code-input:focus {
    border: 3px solid #E4E7EC;
    outline: none;
}

.password-reset-code-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spin {
    -moz-appearance: textfield;
    appearance: textfield;
}