.group-actions-buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding-top: 30px;
}

.group-actions-buttons button {
    padding: 10px 20px;
    border: 1px solid #F04438;
    border-radius: 8px;
    color: #F04438;
}

#publishGroupBtn {
    border-color: #039855;
    color: #039855;
}

.movie-table {
    width: 100%;
    border: 1px solid #E4E7EC;
    padding: 8px;
    margin-top: 76px;
    /*Ensures full-width stretching*/
    border-collapse: collapse;
    border-radius: 8px !important;
    /*Distributes columns equally*/
    table-layout: fixed;
}

.movie-table td, .movie-table th {
    color: #101828;
    text-align: left;
}

.movie-table td {
    padding:  8px 16px;
    white-space: nowrap;           /* Prevent text wrapping */
    overflow: hidden;              /* Hide overflow content */
    text-overflow: ellipsis;       /* Add "..." for overflowed content */
    max-width: 1px;                /* Shrinks to fit content but allows expansion */
    width: 100%;                   /* Dynamically expands with column width */
}

.font-heading-caption th {
    padding: 12px 16px;
}

.movie-table tr {
    border-bottom: 1px solid #E4E7EC;
}

.movie-table-heading {
    background-color: #F9FAFB;
}

.movie-table-heading th {
    text-transform: uppercase;
    color: #667085;
}

.movie-table-row-img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 8px;
}

.action-column {
    width: 80px;                
}

.movie-table-action-button {
    border: none;
    background-color: inherit;
    color: #B22222;
    width: 11px;
    height: 11px;
}

.movie-table th:nth-child(4), 
.movie-table td:nth-child(4) {
    width: 15%;
}