.movie-table {
    width: 100%;
    border: 1px solid #E4E7EC;
    padding: 8px;
    margin-top: 76px;
    /*Ensures full-width stretching*/
    border-collapse: collapse;
    border-radius: 8px !important;
    /*Distributes columns equally*/
    table-layout: fixed;
}

.movie-table td, .movie-table th {
    color: #101828;
    text-align: left;
    padding: 8px;
    padding-left: 16px;
}

.movie-table th {
    padding: 12px;
}

.movie-table tr {
    border-bottom: 1px solid #E4E7EC;
}

.movie-table-heading {
    background-color: #F9FAFB;
}

.movie-table-heading th {
    text-transform: uppercase;
    color: #667085;
}

.movie-table-row-img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 8px;
}