.form-container {
    width: 100%;
}

.search-movies-input {
    width: 100%;
    color: #344054;
    text-align: left;
    border-radius: 8px;
    padding: 12px 12px;
    padding-left: 35px;
    border: 1px solid #E4E7EC;
    box-shadow: 0px 1px 2px -2px #34405414, 0px 1px 3px -1px #34405414;
}

.search-movies-input::placeholder {
    color:  #667085;
}


.search-movies-input:focus {
    border: 1px solid #B22222 !important;
    outline: none 1px #B22222 !important;
}

.dropdown-menu-inputs {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0px;
}

.dropdown-menu-input {
    width: 100%;
    text-align: left;
}

.input-wrapper {
    width: 100%;
    position: relative;
    overflow: visible;
}

.input-icon {
    position: absolute;
    left: 10px;
     top: 50%; /* Vertically center the icon */
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: #344054 !important;
    z-index: 1;
}


/* Styles for react-select with classNamePrefix="dropdown" */
.dropdown__control {
    width: 100%;
    border-radius: 8px !important;
    border: 1px solid #E4E7EC !important;
    color: #667085 !important;
    padding: 6px 8px 6px 25px !important;
    box-shadow: 0px 1px 2px -2px #34405414, 0px 1px 3px -1px #34405414 !important;
}

.dropdown__placeholder, .dropdown__dropdown-indicator, .dropdown__option, .dropdown__clear-indicator {
    color: #667085 !important;
}

.dropdown__indicator-separator {
    display: none !important;
}

.dropdown__option--is-selected {
    background-color: #E4E7EC !important;
    color: #344054 !important;
}

.dropdown__option:hover {
    background-color: #f1f5f9;
}

.dropdown__control--is-focused {
    border-color: #B22222 !important;
}

.focused-icon {
    color: #B22222 !important;
}

@media (max-width: 880px) {
    .dropdown-menu-inputs {
        flex-wrap: wrap;
        justify-content: center;
    }
    .dropdown-menu-input {
        min-width: 180px;

    }
}
