.auth-container {
    backdrop-filter: blur(15px);
    position: fixed;
    /* Adjust based on navbar height */
    top: 80px;
    right: 0;
    width: 528px;
    display: flex;
    height: calc(100vh - 80px);
    /* Enable scrolling when content overflows */
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 64px;
    gap: 16px;
    background-color: #1D2939;
    /* Ensure it stays above other elements */
    z-index: 10;
    scrollbar-width: none;
    /* scrollbar-color: #98A2B3 transparent; Firefox */
}

#or-divider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.auth-horizontal-line {
    width: 45%;
    height: 1px;
    align-self: center;
    background-color: #98A2B3;
}

.signup-redirect-btn {
    font-weight: 600 !important;
    margin-left: 8px;
}

.other-login-ways {
    display: none;
    /* This will be available after implementation */
}

.close-auth-container-btn {
    color: #FCFCFC;
    background-color: inherit;
    border: none;
}