.venue-pill {
    padding: 16px 24px;
    background-color: #FCFCFD;
    border: 1px solid #E4E7EC;
    border-radius: 8px;
    color: #1D2939;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
    /* transition: background-color 0.2s ease-in-out; */
}

.venue-pill span {
    
}

/* .venue-button:hover {
    background-color: #E4E7EC;
} */